.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 2vw;
  width: 60vw; /* Adjust as needed */
  min-height: 60vh; /* Adjust as needed */
  height: auto;
}

.upload-label {
  cursor: pointer;
}

button {
  font-family: inherit;
  font-size: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1); /* Adjust as needed */
}

.upload-icon {
  color: var(--clr-fg-alt); /* Use the light theme color by default */
  transition: transform 0.3s ease;
}

.upload-icon:hover {
  transform: scale(1.2); 
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  height: auto;
  margin: 0 auto;
}

.uploaded-image, .result-image {
  max-width: 400px;
  object-fit: over;
  transition: opacity 2s;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .result-container {
    max-width: 200px; /* Adjust as needed */
  }
  .uploaded-image, .result-image {
    width: auto;
    max-height: 250px;
    margin-right: 0;
    margin-left: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.result-image {
  animation: fadeIn 2s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  opacity: 0;
}

.bingus, .floppa {
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
}

.bingus {
  background-image: linear-gradient(270deg, pink, purple, pink);
}

.floppa {
  background-image: linear-gradient(270deg, yellow, orange, yellow);
}